extends base.pug

block content
    form(action="/submit-form-with-get")
        input(type="text", name="ID")
        input(type="text", name="IP")
        input(type="text", name="Content")
        input(type="submit", name="Done")